.Main-userinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    height: 20vh;
    background-color: #FFFFFF;
  
    .phrase {
      font-family: 'KimjungchulGothic-Bold';
      font-size: 35px;
      color: #626262;
    }
}
  
@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}
  