.Header {
    .login-modal {
        list-style: none;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 30px 80px;

        font-family: 'KimjungchulGothic-Bold';

        button {
            background-color: #FFFFFF;
            border: none;

            font-family: 'KimjungchulGothic-Bold';
            font-size: 18px;
            font-weight: bold;

            color: #333;
            &:hover {
                color: #666;
            }
        }

        .icon {
            padding-top: 30px;
            font-size: 35px;
        }
        .ment {
            margin-top: -20px;
            font-size: 16px;
            color: #666;
        }
        .naver {
            height: 50px;;
            width: 200px;
        }
    }
}

@font-face {
    font-family: 'KimjungchulGothic-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulGothic-Bold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}